.SwitchRoot {
  width: 60px;
  height: 25px;
  border-radius: 9999px;
  position: relative;
  transition: background-color 0.2s;
  cursor: pointer;
  background-color: #87ceeb;
  background-image: url("https://twemoji.maxcdn.com/v/latest/svg/2601.svg");
  background-repeat: no-repeat;
  background-position: right 8px center;
  background-size: 16px;
}

.SwitchRoot[data-state="checked"] {
  background-color: #0f172a;
  background-image: url("https://twemoji.maxcdn.com/v/latest/svg/2b50.svg");
  background-position: left 8px center;
  background-color: #2563eb;
}

.SwitchThumb {
  display: block;
  width: 21px;
  height: 21px;
  background-color: white;
  border-radius: 9999px;
  transition: transform 0.2s;
  transform: translateX(2px);
}

.SwitchThumb::before {
  content: "🌞";
}

.SwitchThumb[data-state="checked"] {
  transform: translateX(16px);
}

.SwitchThumb[data-state="checked"]::before {
  content: "🌜";
}
